<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h2>Add a user</h2>
    <form action="/create" method="post">
    <label for="create">"User Name:"</label>
    <input type="text" name="name"><br><br>
    <label for="create">"User email:"</label>
    <input type="text" name="email"><br><br>
    <input type="submit" value="Submit">
    </form>
  </body>
</html>
